<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jm2.caltechopen"
    android:versionCode="10"
    android:versionName="1.0.9" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jm2.caltechopen.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jm2.caltechopen.CStoreActivity"
            android:label="C-Store" >
        </activity>
        <activity
            android:name="com.jm2.caltechopen.RedDoorActivity"
            android:label="Red Door" >
        </activity>
        <activity
            android:name="com.jm2.caltechopen.BookstoreActivity"
            android:label="Bookstore" >
        </activity>
        <activity
            android:name="com.jm2.caltechopen.ChandlerActivity"
            android:label="Chandler" >
        </activity>
        <activity
            android:name="com.jm2.caltechopen.CafeBroadActivity"
            android:label="Cafe Broad" >
        </activity>
        <activity
            android:name="com.jm2.caltechopen.BraunActivity"
            android:label="Braun" >
        </activity>
    </application>

</manifest>
